

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  align-items: center;
  
}

.logoImg {
  height: 120px;
}

.navItems > ul  {
  display: flex;
  
 
 
}

.navItems > ul > li {
  list-style:none;
  margin: 9px;
 
}

.navItems {
  font-size: 20px;

}
.restaurantContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
}
.restaurantCard {
  background-color: #f0f0f0;
  padding: 5px;
  width: 250px;
  height: auto;
  margin: 20px;
  border-radius: 5px;
}
.restaurantCard:hover{
  cursor: pointer;
  border: 1px solid black;
}

.resImg {
  width: 100%;
  height: 150px;
  
}

.shimmerCard{
  background-color: #f0f0f0;
  padding: 5px;
  width: 250px;
  height: 350px;
  margin: 20px;
  border-radius: 5px;
}

.shimmerCardConainer {
  display: flex;
  flex-wrap: wrap;
}

.loginBtn {
  margin: 5px;
  
}
.functionality{
  margin: 10px;
  display: flex;
}
.topRatedFun{
  margin-left: 5px;
}